.footerContent {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  max-width: 480px;
  width: 100%;
  display: block;
}

.footerBlock {
  margin-top: 60px;
  display: block;
  text-align: center;
}
